@model SiteGestionResaCore.Areas.User.Data.DonneesUser.ListResasDonneesVM
@{
    ViewData["Title"] = "Récuperation des données";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h1 class="text-center">Récuperation des données PcVue</h1>
<br />
<h6 class="text-center"> Liste de tous vos essais pour récupération des données </h6>
<br />

<div class="row">
    <div class="col-sm-8 col-md-8 text-center">
        <div class="fixed_head_resas">
            <div class="row justify-content-center">
                <table class="table table-striped justify-content-center table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Projet (N° et Titre)</th>
                            <th scope="col">Informations essai</th>
                            <th scope="col">Equipements supervisés?</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model.ResasUser)
                        {
                            <tr>
                                <td>@x.NomProjet (N°: @x.NumProjet)</td>
                                <td><a href="#" onclick="DisplayEssaiInfo(@x.IdEssai)">@x.TitreEssai</a></td>
                                @if (x.EquipementSousPcVue == true)
                                {
                                    <td><a href="#" onclick="EquipVsData(@x.IdEssai)"> Oui! clique ici </a></td>
                                }
                                else
                                {
                                    <td>Non</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<hr />

<div id="InfosEssai"></div>

<div class="hide" style="display:none" id="EquipVsDonnees"></div>

@section Scripts
{
    <!-- JS includes -->
    <script type="text/javascript">

        function DisplayEssaiInfo(id) {
            if (id)
            {
                $.ajax({
                    url: "@Url.Action("VoirInfosEssai", "DonneesUser", new { Area = "User" })?id=" + id,
                    type: 'POST',
                    success: function (html) {
                        $("#EquipVsDonnees").hide();
                        $("#InfosEssai").html(html);
                        $("#EssaiModal").modal('show');
                    }
                });
            }
        }

        function EquipVsData(id) {
            if (id)
            {
                $.ajax({
                    url: "@Url.Action("ListEquipVsDonnees", "DonneesUser", new { Area = "User" })?id=" + id,
                    type: 'POST',
                    success: function (html) {
                        $("#EquipVsDonnees").show();
                        $("#EquipVsDonnees").html(html);
                    }
                });
            }
        }

    </script>
}