@model SiteGestionResaCore.Areas.Reservation.Data.Validation.ResasPourValidationViewModel
@{
    ViewBag.Title = "ReservationsAValider";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h1>Reservations à valider</h1>
<br />

<div class="row">
    <div class="col-sm-12 col-md-12 text-center">
        <div class="row justify-content-center">
            <table class="table table-striped justify-content-center">
                <h5 class="text-center">Liste des essais en attente de validation</h5>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">N° Essai</th>
                        <th scope="col">Informations essai(lien)</th>
                        <th scope="col">N° projet(lien)</th>
                        <th scope="col">Equipements réservés(ouverture pop-up)</th>
                        <th scope="col">Conflit(lien)</th>
                        <th scope="col">Date création</th>
                        <th scope="col">Saisie par</th>
                        <th scope="col">Action(valider/refuser)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model.resasAValider)
                    {
                        <tr>
                            <td>@x.idEssai</td>
                            <td><a asp-action="VoirInfosEssai" asp-controller="Validation" asp-area="Reservation" asp-route-id="@x.idEssai">Infos essai</a></td>
                            <td><a asp-action="VoirInfosProjet" asp-controller="Validation" asp-area="Reservation" asp-route-id="@x.idProj">@x.NumProjet</a></td>
                            <td><a asp-action="ConsulterResasProjet" asp-controller="Validation" asp-area="Reservation" asp-route-id="@x.idEssai">Equipements réservés</a></td>
                            <td>
                                @if (x.ConflitExist == true)
                                {
                                    <a asp-action="VoirConflitEssai" asp-controller="Validation" asp-area="Reservation" asp-route-id="@x.idEssai">Voir conflit</a>
                                }
                            </td>
                            <td>@x.DateCreation</td>
                            <td>@x.MailUser</td>
                            <td>
                                <a class="btn navbar-inra" asp-action="ValiderEssai" asp-area="Reservation" asp-controller="Validation" asp-route-id="@x.idEssai">Valider</a>
                                <a class="btn navbar-inra" asp-action="RefuserEssai" asp-area="Reservation" asp-controller="Validation" asp-route-id="@x.idEssai">Refuser</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>
<!-- Modal pour affichage des infos "essai"-->
<div class="modal fade" id="EssaiModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
    <div class="modal-dialog modal-lg navbar-inra">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Informations essai N° @Model.InfosEssai.id</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalcontent">
                <table class="table table-sm table-borderless">
                    <thead>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">N° Essai</th>
                            <td>@Model.InfosEssai.id</td>
                        </tr>
                        <tr>
                            <th scope="row">Date Création</th>
                            <td>@Model.InfosEssai.DateCreation</td>
                        </tr>
                        <tr>
                            <th scope="row">Email manipulateur essai</th>
                            <td>@Model.InfosEssai.MailManipulateur</td>
                        </tr>
                        <tr>
                            <th scope="row">Type de produit entrant</th>
                            <td>@Model.InfosEssai.TypeProduitEntrant</td>
                        </tr>
                        <tr>
                            <th scope="row">Demande saisie par</th>
                            <td>@Model.InfosEssai.MailUser</td>
                        </tr>
                        <tr>
                            <th scope="row">Descriptif essai</th>
                            <td>@Model.InfosEssai.Commentaire</td>
                        </tr>
                        <tr>
                            <th scope="row">Confidentialité essai</th>
                            <td>@Model.InfosEssai.Confidentialite</td>
                        </tr>
                        <tr>
                            <th scope="row">Transport assuré par</th>
                            @if (Model.InfosEssai.TransportStlo == true)
                            {
                                <td>STLO</td>
                            }
                            else
                            {
                                <td>Autre</td>
                            }
                        </tr>
                        <tr>
                            <th scope="row">Précision produit</th>
                            <td>@Model.InfosEssai.PrecisionProd</td>
                        </tr>
                        <tr>
                            <th scope="row">Quantité produit</th>
                            <td>@Model.InfosEssai.QuantiteProd</td>
                        </tr>
                        <tr>
                            <th scope="row">Provenance produit</th>
                            <td>@Model.InfosEssai.ProveProd</td>
                        </tr>
                        <tr>
                            <th scope="row">Destination produit</th>
                            <td>@Model.InfosEssai.PrecisionProd</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" id="submit" class="btn btn-secondary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal pour affichage des infos "projet"-->
<div class="modal fade" id="ProjModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
    <div class="modal-dialog modal-lg navbar-inra">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Informations projet <strong>@Model.InfosProj.TitreProjet</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalcontent">
                <table class="table table-sm table-borderless">
                    <thead>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Numéro projet </th>
                            <td>@Model.InfosProj.NumProjet</td>
                        </tr>
                        <tr>
                            <th scope="row">Type projet</th>
                            <td>@Model.InfosProj.TypeProjet</td>
                        </tr>
                        <tr>
                            <th scope="row">Financement projet</th>
                            <td>@Model.InfosProj.Financement</td>
                        </tr>
                        <tr>
                            <th scope="row">Organisme</th>
                            <td>@Model.InfosProj.Organisme</td>
                        </tr>
                        <tr>
                            <th scope="row">Email responsable projet</th>
                            <td>@Model.InfosProj.MailRespProj</td>
                        </tr>
                        <tr>
                            <th scope="row">Provenance projet</th>
                            <td>@Model.InfosProj.Provenance</td>
                        </tr>
                        <tr>
                            <th scope="row">Description projet</th>
                            <td>@Model.InfosProj.Description</td>
                        </tr>
                        <tr>
                            <th scope="row">Date création projet</th>
                            <td>@Model.InfosProj.DateCreation</td>
                        </tr>
                        <tr>
                            <th scope="row">Projet saisie par </th>
                            <td>@Model.InfosProj.MailUsrSaisie</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" id="submit" class="btn btn-secondary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal pour affichage des infos "Reservations"-->
<div class="modal fade" id="ResaModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
    <div class="modal-dialog modal-xl navbar-inra">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Equipements réservés</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalcontent">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">Zone</th>
                            <th scope="col">Nom Equipement</th>
                            <th scope="col">Date Début</th>
                            <th scope="col">Date Fin</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var r in Model.Reservations)
                        {
                            <tr>
                                <td>@r.ZoneEquipement</td>
                                <td>@r.NomEquipement</td>
                                <td>@r.DateDebut</td>
                                <td>@r.DateFin</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" id="submit" class="btn btn-secondary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal pour affichage des infos "Conflits"-->
<div class="modal fade" id="ConflitModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
    <div class="modal-dialog modal-xl navbar-inra">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Equipements de l'essai N° @Model.IdEss en conflit avec autre(s) essai(s)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalcontent">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">N° Projet</th>
                            <th scope="col">N° Essai</th>
                            <th scope="col">Nom Equipement</th>
                            <th scope="col">Zone</th>
                            <th scope="col">Date Début</th>
                            <th scope="col">Date Fin</th>
                            <th scope="col">Responsable projet</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var y in Model.InfosConflits)
                        {
                            <tr>
                                <td>@y.NumProjet</td>
                                <td>@y.IdEss</td>
                                <td>@y.NomEquipement</td>
                                <td>@y.ZoneEquipement</td>
                                <td>@y.DateDeb</td>
                                <td>@y.DateFin</td>
                                <td>@y.MailResponsablePrj</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" id="submit" class="btn btn-secondary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal pour affichage de la confirmation "Validation"-->
<form asp-action="ValiderEssai" asp-controller="Validation" asp-area="Reservation" asp-route-id="@Model.IdEss" method="post">
    <!-- Modal pop-up d'info-->
    <div class="modal fade" id="ValidEssa" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
        <div class="modal-dialog modal-sm navbar-inra">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="staticBackdropLabel">Validation de réservation </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalcontent">
                    <p class="font-weight-bold">
                        Etês-vous sûr de vouloir valider la réservation pour l'essai
                        N° @Model.IdEss (projet N° @Model.InfosProj.NumProjet)?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                    <input type="submit" class="btn btn-primary" value="Oui" />
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Modal pour affichage de la confirmation "Validation"-->
<form asp-action="RefuserEssai" asp-controller="Validation" asp-area="Reservation" asp-route-id="@Model.IdEss" method="post">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <!-- Modal pop-up d'info-->
    <div class="modal fade" id="RefusEssa" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
        @Html.AntiForgeryToken()
        <div class="modal-dialog navbar-inra">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="staticBackdropLabel">Refus réservation </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalcontent">
                    <p class="font-weight-bold text-center">
                        Etês-vous sûr de refuser la réservation pour l'essai
                        N° @Model.IdEss (projet N° @Model.InfosProj.NumProjet)?
                    </p>
                    <p>Indiquez le(s) raison(s) du refus: </p>
                    <div class="form-group">
                        @Html.TextAreaFor(m => m.RaisonRefus, new { @class = "col-md-12 form-control" })
                        @Html.ValidationMessageFor(m => m.RaisonRefus, "", new { @class = "text-danger" })
                        @*@Html.HiddenFor(m => m.IdEss)*@
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <input type="submit" class="btn btn-primary" value="Valider" />
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row justify-content-center">
    <a href="#">Revenir à la page précedente</a>
</div>

@section Scripts {
    @*script pour afficher le popoup de confirmation de demande *@
    <script>
        @{
            if (ViewBag.modalEssai == null)
            {
                ViewBag.modalEssai = "hide";
            }
            if (ViewBag.modalProj == null)
            {
                ViewBag.modalProj = "hide";
            }
            if (ViewBag.modalResas == null)
            {
                ViewBag.modalResas = "hide";
            }
            if (ViewBag.modalConflit == null)
            {
                ViewBag.modalConflit = "hide";
            }
            if (ViewBag.modalValid == null)
            {
                ViewBag.modalValid = "hide";
            }
            if (ViewBag.modalRefus == null)
            {
                ViewBag.modalRefus = "hide";
            }
        }
        $('#EssaiModal').modal('@ViewBag.modalEssai');
        $('#ProjModal').modal('@ViewBag.modalProj');
        $('#ResaModal').modal('@ViewBag.modalResas');
        $('#ConflitModal').modal('@ViewBag.modalConflit');
        $('#ValidEssa').modal('@ViewBag.modalValid');
        $('#RefusEssa').modal('@ViewBag.modalRefus');
    </script>
}