@model SiteGestionResaCore.Areas.Reservation.Data.Validation.ResasPourValidationViewModel
@{
    ViewBag.Title = "ReservationsAValider";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h1>Reservations à valider</h1>
<br />
@if (ViewBag.SuccessMessage == "Ok")
{
    <p class="text-center" style="color:green"><strong> @ViewBag.Action essai pris(e) en compte!</strong> </p>
}
<div class="row">
    <div class="col-sm-12 col-md-12 text-center">
        <h5 class="text-center">Liste des essais en attente de validation</h5>
        <div class="fixed_head_resas">
            <div class="row justify-content-center">
                <table class="table table-striped justify-content-center table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Informations essai</th>
                            <th scope="col">N° projet</th>
                            <th scope="col">Equipements réservés</th>
                            <th scope="col">Conflit</th>
                            <th scope="col">Date création</th>
                            <th scope="col">Saisie par</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model.resasAValider)
                        {
                            <tr>
                                <td><a href="#" onclick="ModalInfosEssai(@x.idEssai)">@x.TitreEssai</a></td>
                                <td><a href="#" onclick="ModalInfosProjet(@x.idProj)">@x.NumProjet</a></td>
                                @*<td><a asp-action="ConsulterResasProjet" asp-controller="Validation" asp-area="Reservation" asp-route-id="@x.idEssai">Equipements réservés</a></td>*@
                                <td><a href="#" onclick="ModalEquipReserv(@x.idEssai)">Equipements réservés</a></td>
                                <td>
                                    @if (x.ConflitExist == true)
                                    {
                                        @*<a asp-action="VoirConflitEssai" asp-controller="Validation" asp-area="Reservation" asp-route-id="@x.idEssai">Voir conflit</a>*@
                                        <a href="#" onclick="ModalConflit(@x.idEssai)">Voir conflit</a>
                                    }
                                </td>
                                <td>@x.DateCreation</td>
                                <td>@x.MailUser</td>
                                <td>
                                    <a class="btn navbar-inra" asp-action="ValiderEssai" asp-area="Reservation" asp-controller="Validation" asp-route-id="@x.idEssai">Valider</a>
                                    <a class="btn navbar-inra" asp-action="RefuserEssai" asp-area="Reservation" asp-controller="Validation" asp-route-id="@x.idEssai">Refuser</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Modal pour affichage des infos "essai"-->
<div id="InfosEssai"></div>

<!-- Modal pour affichage des infos "projet"-->
<div id="InfosProjet"></div>

<!-- Modal pour affichage des infos "equipements réservés"-->
<div id="EquipReserves"></div>

<!-- Modal pour affichage des infos "Conflits"-->
<div id="ConflitResa"></div>


<!-- Modal pour affichage de la confirmation "Validation"-->
<form asp-action="ValiderEssai" asp-controller="Validation" asp-area="Reservation" asp-route-id="@Model.IdEss" method="post">
    <!-- Modal pop-up d'info-->
    <div class="modal fade" id="ValidEssa" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
        <div class="modal-dialog modal-sm navbar-inra">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="staticBackdropLabel">Validation de réservation </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalcontent">
                    <p class="font-weight-bold">
                        Etês-vous sûr de vouloir valider la réservation pour l'essai
                        N° @Model.TitreEssai (projet N° @Model.NumProjet)?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                    <input type="submit" class="btn btn-primary" value="Oui" />
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Modal pour affichage de la confirmation "Refuser"-->
<form asp-action="RefuserEssai" asp-controller="Validation" asp-area="Reservation" asp-route-id="@Model.IdEss" method="post">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <!-- Modal pop-up d'info-->
    <div class="modal fade" id="RefusEssa" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
        @Html.AntiForgeryToken()
        <div class="modal-dialog navbar-inra">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="staticBackdropLabel">Refus réservation </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalcontent">
                    <p class="font-weight-bold text-center">
                        Etês-vous sûr de refuser la réservation pour l'essai
                        N° @Model.TitreEssai (projet N° @Model.NumProjet)?
                    </p>
                    <p>Indiquez le(s) raison(s) du refus: </p>
                    <div class="form-group">
                        @Html.TextAreaFor(m => m.RaisonRefus, new { @class = "col-md-12 form-control" })
                        @Html.ValidationMessageFor(m => m.RaisonRefus, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <input type="submit" class="btn btn-primary" value="Valider" />
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row justify-content-center">
    <a asp-action="MenuConsultation" asp-controller="Validation" asp-area="Reservation">Revenir à la page précedente</a>
</div>

@section Scripts {
    @*script pour afficher le popoup de confirmation de demande *@
<script>
        @{
            if (ViewBag.modalResas == null)
            {
                ViewBag.modalResas = "hide";
            }
            if (ViewBag.modalConflit == null)
            {
                ViewBag.modalConflit = "hide";
            }
            if (ViewBag.modalValid == null)
            {
                ViewBag.modalValid = "hide";
            }
            if (ViewBag.modalRefus == null)
            {
                ViewBag.modalRefus = "hide";
            }
        }
        $('#ResaModal').modal('@ViewBag.modalResas');
        $('#ConflitModal').modal('@ViewBag.modalConflit');
        $('#ValidEssa').modal('@ViewBag.modalValid');
        $('#RefusEssa').modal('@ViewBag.modalRefus');

        function ModalInfosEssai(id) {
            if (id)
            {
                $.ajax({
                    url: "@Url.Action("VoirInfosEssai", "Validation", new { Area = "Reservation" })?id=" + id,
                    type: 'POST',
                    success: function (html) {
                        $("#InfosEssai").html(html);
                        $("#EssaiModal").modal('show');
                    }
                });
            }
        }

        function ModalInfosProjet(id) {
            if (id)
            {
                $.ajax({
                    url: "@Url.Action("VoirInfosProjet", "Validation", new { Area = "Reservation" })?id=" + id,
                    type: 'POST',
                    success: function (html) {
                        $("#InfosProjet").html(html);
                        $("#ProjModal").modal('show');
                    }
                });
            }
        }

        function ModalEquipReserv(id) {
            if (id)
            {
                $.ajax({
                    url: "@Url.Action("VoirEquipReserves", "Validation", new { Area = "Reservation" })?id=" + id,
                    type: 'POST',
                    success: function (html) {
                        $("#EquipReserves").html(html);
                        $("#ResaModal").modal('show');
                    }
                });
            }
    }

        function ModalConflit(id) {
            if (id)
            {
                $.ajax({
                    url: "@Url.Action("VoirConflitEssai", "Validation", new { Area = "Reservation" })?id=" + id,
                    type: 'POST',
                    success: function (html) {
                        $("#ConflitResa").html(html);
                        $("#ConflitModal").modal('show');
                    }
                });
            }
        }

</script>
}