@model SiteGestionResaCore.Areas.Reservation.Data.Validation.ResasPourValidationViewModel
@{
    ViewBag.Title = "ReservationsAValider";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h1>Reservations à valider</h1>
<br />

<div class="row">
    <div class="col-sm-12 col-md-12 text-center">
        <div class="row justify-content-center">
            <table class="table table-striped justify-content-center">
                <h5 class="text-center">Liste des essais en attente de validation</h5>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">N° Essai</th>
                        <th scope="col">Informations essai(lien)</th>
                        <th scope="col">Nom Projet(lien)</th>
                        <th scope="col">N° projet</th>
                        <th scope="col">Equipements réservés(ouverture pop-up)</th>
                        <th scope="col">Conflit(lien)</th>
                        <th scope="col">Date création</th>
                        <th scope="col">Saisie par</th>
                        <th scope="col">Action(valider/refuser)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model.resasAValider)
                    {
                        <tr>
                            <td>@x.id</td>

                            <td><a asp-action="VoirInfosEssai" asp-controller="Validation" asp-area="Reservation" asp-route-id="@x.id">Voir essai @x.Commentaire</a></td>

                            <td><a href="#">@x.NomProjet</a></td>
                            <td>@x.NumProjet</td><!--Voir comme faire ce link-->
                            <td><a href="#">Equipements réservés</a></td>
                            <td>
                                @if (x.ConflitExist == true)
                                {
                                    <a href="#">Voir conflit</a>
                                }
                            </td>
                            <td>@x.DateCreation</td>
                            <td>@x.MailUser</td>
                            <td>
                                <a class="btn navbar-inra" asp-action="ValiderEssai" asp-area="Reservation" asp-controller="Validation" asp-route-id="@x.id">Valider</a>
                                <a class="btn navbar-inra" asp-action="RefuserEssai" asp-area="Reservation" asp-controller="Validation" asp-route-id="@x.id">Refuser</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>
<!-- Modal pour affichage des infos "essai"-->
<div class="modal fade" id="EssaiModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
    <div class="modal-dialog navbar-inra">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Informations essai N° @Model.infosEssai.id</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalcontent">
                <table class="table table-sm table-borderless">
                    <thead>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">N° Essai</th>
                            <td>@Model.infosEssai.id</td>
                        </tr>
                        <tr>
                            <th scope="row">Date Création</th>
                            <td>@Model.infosEssai.DateCreation</td>
                        </tr>
                        <tr>
                            <th scope="row">Email manipulateur essai</th>
                            <td>@Model.infosEssai.MailManipulateur</td>
                        </tr>
                        <tr>
                            <th scope="row">Type de produit entrant</th>
                            <td>@Model.infosEssai.TypeProduitEntrant</td>
                        </tr>
                        <tr>
                            <th scope="row">Demande saisie par</th>
                            <td>@Model.infosEssai.MailUser</td>
                        </tr>
                        <tr>
                            <th scope="row">Descriptif essai</th>
                            <td>@Model.infosEssai.Commentaire</td>
                        </tr>
                        <tr>
                            <th scope="row">Confidentialité essai</th>
                            <td>@Model.infosEssai.Confidentialite</td>
                        </tr>
                        <tr>
                            <th scope="row">Transport assuré par</th>
                            @if (Model.infosEssai.TransportStlo == true)
                            {
                                <td>STLO</td>
                            }
                            else
                            {
                                <td>Autre</td>
                            }
                        </tr>
                        <tr>
                            <th scope="row">Précision produit</th>
                            <td>@Model.infosEssai.PrecisionProd</td>
                        </tr>
                        <tr>
                            <th scope="row">Quantité produit</th>
                            <td>@Model.infosEssai.QuantiteProd</td>
                        </tr>
                        <tr>
                            <th scope="row">Provenance produit</th>
                            <td>@Model.infosEssai.ProveProd</td>
                        </tr>
                        <tr>
                            <th scope="row">Destination produit</th>
                            <td>@Model.infosEssai.PrecisionProd</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" id="submit" class="btn btn-secondary" data-dismiss="modal">Ok</button>           
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <a href="#">Revenir à la page précedente</a>
</div>

@section Scripts {
    @*script pour afficher le popoup de confirmation de demande *@
    <script>
        @{
            if (ViewBag.modalEssai == null)
            {
                ViewBag.modalEssai = "hide";
            }         
        }
        $('#EssaiModal').modal('@ViewBag.modalEssai');       
    </script>
}