@model SiteGestionResaCore.Areas.Reservation.Data.Validation.ResasPourValidationViewModel
@{
    ViewBag.Title = "ReservationsAValider";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h1>Reservations à valider</h1>
<br />

<div class="row">
    <div class="col-sm-12 col-md-12 text-center">
        <div class="row justify-content-center">
            <table class="table table-striped justify-content-center">
                <h5 class="text-center">Liste des essais en attente de validation</h5>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">N° Essai</th>
                        <th scope="col">Informations essai(lien)</th>
                        <th scope="col">Nom Projet(lien)</th>
                        <th scope="col">N° projet</th>
                        <th scope="col">Equipements réservés(ouverture pop-up)</th>
                        <th scope="col">Conflit(lien)</th>
                        <th scope="col">Date création</th>
                        <th scope="col">Saisie par</th>
                        <th scope="col">Action(valider/refuser)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model.resasAValider)
                    {
                        <tr>
                            <td>@x.id</td>
                            <td><a href="#">Voir essai @x.Commentaire</a></td>
                            <td><a href="#">@x.NomProjet</a></td>
                            <td>@x.NumProjet</td><!--Voir comme faire ce link-->
                            <td><a href="#">Equipements réservés</a></td>
                            <td>
                                @if(x.ConflitExist== true)
                                {
                                    <a href="#">Voir conflit</a>
                                }
                            </td>
                            <td>@x.DateCreation</td>
                            <td>@x.MailUser</td>
                            <td>
                                <a class="btn navbar-inra" asp-action="ValiderEssai" asp-area="Reservation" asp-controller="Validation" asp-route-id="@x.id">Valider</a>
                                <a class="btn navbar-inra" asp-action="RefuserEssai" asp-area="Reservation" asp-controller="Validation" asp-route-id="@x.id">Refuser</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>                    

    </div>
</div>

