@model SiteGestionResaCore.Areas.Enquete.Data.PostEnquete.PostEnqueteViewModel

@{
    ViewBag.Title = "NotesEnquetesSatisfaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />

@if (ViewBag.AfficherMessage == true)
{
    <h5 class="text-center" style="color:green"><strong> @ViewBag.Message</strong> </h5>
}

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<form asp-action="RecupNotesEnquete" asp-controller="PostEnquete" asp-area="Enquete" method="post">
    <h4 class="text-center">La récupération des notes des enquêtes de satisfaction se fera pour les essais finis à une date déterminée et comprise entre la date début et la date fin que vous aurez sélectionné<strong></strong></h4>
    <div class="form-group row justify-content-center">
        <br />
        <div class="col-sm-4 col-md-4 col-lg-4">
            <!--Date picker -->
            <div class="form-group">
                @Html.Label("Du : ")
                <input class="form-control" name="DateDu" asp-for="@Model.DateDu" type="date" />
                @Html.ValidationMessageFor(m => m.DateDu, "", new { @class = "text-danger" })
                <!--<input type="text" class="form-control" id="datepickerdebut" placeholder="MM/DD/YYYY">-->
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <!--Date picker -->
            <div class="form-group">
                @Html.Label("Au : ")
                <!--https://stackoverflow.com/questions/42309439/how-to-post-input-type-date-to-mvc-controller-->
                <!--https://stackoverflow.com/questions/31556837/binding-model-asp-net-input-type-date-->
                <input class="form-control" name="DateAu" asp-for="@Model.DateAu" type="date" />
                @Html.ValidationMessageFor(m => m.DateAu, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <input type="submit" class="btn btn-outline-success" value="Télécharger .csv enquêtes" />
    </div>
</form>
<br />
<hr />
<div class="col-sm-12 col-md-12 text-center">
    <div class="fixed_head_resas">
        <table class="table justify-content-center table-sm">
            <h5 class="text-center">Enquêtes non répondues sur l'année en cours (essais déjà finalisés)</h5>
            <h5 class="text-center">Vous pouvez envoyer une relance enquête avant les réunions utilisateur</h5>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id Essai</th>
                    <th scope="col">Titre essai</th>
                    <th scope="col">Equipements reservés</th>
                    <th scope="col">Auteur</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var en in Model.ListEnquetesSansRp)
                {
                    <tr>
                        <td>@en.IdEssai</td>
                        <td>@en.TitreEssai</td>
                        <td><a href="#" onclick="ModalEquipReserv(@en.IdEssai)">Equipements réservés</a></td>
                        <td>@en.AuteurEssai</td>
                        <td><a class="btn navbar-inra" asp-action="EnvoyerRelance" asp-area="Enquete" asp-controller="PostEnquete" asp-route-id="@en.IdEssai">Relance enquête</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<br />
<hr />
<div class="col-sm-12 col-md-12 text-center">
    <div class="fixed_head_resas">
        <table class="table justify-content-center table-sm">
            <h5 class="text-center">Enquêtes non répondues sur les 6 derniers mois</h5>
            <h5 class="text-center">Vous pouvez envoyer une relance enquête avant les réunions utilisateur</h5>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id Essai</th>
                    <th scope="col">Titre essai</th>
                    <th scope="col">Equipements reservés</th>
                    <th scope="col">Auteur</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var en in Model.ListEnquetesSansRpSix)
                {
                    <tr>
                        <td>@en.IdEssai</td>
                        <td>@en.TitreEssai</td>
                        <td><a href="#" onclick="ModalEquipReserv(@en.IdEssai)">Equipements réservés</a></td>
                        <td>@en.AuteurEssai</td>
                        <td><a class="btn navbar-inra" asp-action="EnvoyerRelance" asp-area="Enquete" asp-controller="PostEnquete" asp-route-id="@en.IdEssai">Relance enquête</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<br />
<hr />
<h6 class="text-center">Si problème sur l'envoi d'enquetes, cliquez sur ce bouton pour executer la tâche d'envoi.</h6>
<div class="text-center">
    <a class="btn navbar-inra" asp-action="ExecuterEnvoiEnq" asp-area="Enquete" asp-controller="PostEnquete">Executer l'envoi des enquetes</a>
</div>

<!-- Modal pour affichage des infos "Reservations"-->
<div id="EquipReserves"></div>

@section Scripts {
    @*script pour afficher le popoup de confirmation de demande *@
    <script>
        function ModalEquipReserv(id) {
            if (id)
            {
                $.ajax({
                    url: "@Url.Action("VoirReservations", "PostEnquete", new { Area = "Enquete" })?id=" + id,
                    type: 'POST',
                    success: function (html) {
                        $("#EquipReserves").html(html);
                        $("#ResaModal").modal('show');
                    }
                });
            }
        }
    </script>
}