@model SiteGestionResaCore.Areas.Enquete.Data.PostEnquete.PostEnqueteViewModel

@{
    ViewBag.Title = "NotesEnquetesSatisfaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<form asp-action="RecupNotesEnquete" asp-controller="PostEnquete" asp-area="Enquete" method="post">
    <h4 class="text-center">La récupération des notes des enquêtes de satisfaction se fera pour les essais finis à une date déterminée et comprise entre la date début et la date fin que vous aurez sélectionné<strong></strong></h4>
    <div class="form-group row justify-content-center">
        <br />
        <div class="col-sm-4 col-md-4 col-lg-4">
            <!--Date picker -->
            <div class="form-group">
                @Html.Label("Du : ")
                <input class="form-control" name="DateDu" asp-for="@Model.DateDu" type="date" />
                @Html.ValidationMessageFor(m => m.DateDu, "", new { @class = "text-danger" })
                <!--<input type="text" class="form-control" id="datepickerdebut" placeholder="MM/DD/YYYY">-->
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <!--Date picker -->
            <div class="form-group">
                @Html.Label("Au : ")
                <!--https://stackoverflow.com/questions/42309439/how-to-post-input-type-date-to-mvc-controller-->
                <!--https://stackoverflow.com/questions/31556837/binding-model-asp-net-input-type-date-->
                <input class="form-control" name="DateAu" asp-for="@Model.DateAu" type="date" />
                @Html.ValidationMessageFor(m => m.DateAu, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <input type="submit" class="btn btn-outline-success" value="Télécharger .csv enquêtes" />
    </div>
</form>