@*
    * website developped to manage the dairy platform STLO operations
    * Code by Anny VIVAS, inspired from the operationnal functioning of the ancien website developped by Bruno PERRET
    * July 2021
    * website includes code from:
    *  DotNetZip library for dealing with zip, bsip and zlib from .net
    *  Created by: Henrik/Dino Chiesa
    *
    *  MailKit open source library for .NET mail-client
    *  Created by:  Jeffrey Stedfast
    *
    *  Microsoft.AspNetCore.Identity.EntityFrameworkCore, ASP.NET Core Identity provider that uses Entity Framework Core
    *  Created by: Microsoft
    *
    *  Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation, Runtime compilation support for Razor views and Razor pages in ASP.NET Core MVC
    *  Created by: Microsoft
    *
    *  Microsoft.EntityFrameworkCore.Design, Shared design-time components for Entity Framework Core tools
    *  Created by: Microsoft
    *
    *  Microsoft.EntityFrameworkCore.SqlServer, Microsoft SQL Server database provider for Entity Framework Core
    *  Created by: Microsoft
    *
    *  Ncrontab, NCrontab is crontab for all .NET runtimes supported by .NET Standard 1.0. It provides parsing and formatting of crontab expressions as well as calculation of occurrences of time based on a schedule expressed in the crontab format
    *  Created by: Atif Aziz
    *
    * This projet is released under the terms of the GNU general public license GPL version 3 or later:
    * availaible here: https://www.gnu.org/licenses/gpl-3.0-standalone.html
    *
    * Copyright (c) 2021-2024 Anny Vivas
*@

@model SiteGestionResaCore.Areas.Reservation.Data.CalendrierEquipChildViewModel

<div class="container">
    <br />
    <h6 class="text-center"> Sélectionnez les dates pour voir les créneaux de réservation disponibles pour l'équipement "@Model.nomEquipement"</h6>
    <div class="form-group row justify-content-center">
        <br />
        <div class="col-sm-4 col-md-4 col-lg-4">
            <!--Date picker -->
            <div class="form-group">
                @Html.Label("Du : ")
                <input class="form-control" name="DatePickerDu" asp-for="@Model.DatePickerDu" type="date" />
                @Html.ValidationMessageFor(m => m.DatePickerDu, "", new { @class = "text-danger" })
                <!--<input type="text" class="form-control" id="datepickerdebut" placeholder="MM/DD/YYYY">-->
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <!--Date picker -->
            <div class="form-group">
                @Html.Label("Au : ")

                <input class="form-control" name="DatePickerAu" asp-for="@Model.DatePickerAu" type="date" />
                @Html.ValidationMessageFor(m => m.DatePickerAu, "", new { @class = "text-danger" })
                <!-- pour passer l'id zone de cette vue au controleur Reservation methode GetPlanning() -->
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <input type="submit" class="btn btn-outline-success" value="Afficher Planning" />
        </div>
    </div>
    <div class="row">
        <div id="scroller" class="col-sm-12 col-md-12 col-lg-12">
            <table class="table table-bordered table-responsive">
                <h5 class="text-center">Calendrier</h5>
                <thead class="thead-dark">
                    <tr>
                        <th>Créneaux</th> <!--Colonne pour ajouter les créneau matin et aprèm, pas besoin de head-->
                        @foreach (var x in Model.ListResas)
                        {
                            <th scope="col">@x.NomJour @x.JourResa.ToShortDateString()</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row" class="first_col">
                            <dl class="dl-horizontal text-center">
                                <br />
                                <dd>M</dd>
                                <dd>A</dd>
                                <dd>T</dd>
                                <dd>I</dd>
                                <dd>N</dd>
                            </dl>
                        </td>
                        @foreach (var y in Model.ListResas)
                        {
                            <td style="background-color:@y.CouleurFondMatin.ToString()">
                                @foreach (var i in y.InfosResaMatin)
                                {
                                    if (i.confidentialite == EnumConfidentialite.Confidentiel.ToString())
                                    {
                                        <a><strong>[Essai <strong>@i.confidentialite.ToString()</strong>] (Responsable: @i.mailRespProjet)</strong></a>
                                    }
                                    else
                                    {
                                        <a><strong>[@i.num_projet ( Essai N° @i.numEssai) - @i.confidentialite.ToString()] @i.titre_projet (Responsable: @i.mailRespProjet)</strong></a>
                                    }
                                }
                            </td>
                        }
                    </tr>
                    <tr>
                        <td scope="row" class="first_col">
                            <dl class="dl-horizontal text-center">
                                <br />
                                <dd>A</dd>
                                <dd>P</dd>
                                <dd>R</dd>
                                <dd>E</dd>
                                <dd>M</dd>
                            </dl>
                        </td>
                        @foreach (var y in Model.ListResas)
                        {
                            <td style="background-color:@y.CouleurFondAprem.ToString()">
                                @foreach (var i in y.InfosResaAprem)
                                {
                                    if (i.confidentialite == EnumConfidentialite.Confidentiel.ToString())
                                    {
                                        <a><strong>[Essai <strong>@i.confidentialite.ToString()</strong>] (Responsable: @i.mailRespProjet)</strong></a>
                                    }
                                    else
                                    {
                                        <a><strong>[@i.num_projet ( Essai N° @i.numEssai) - @i.confidentialite.ToString()] @i.titre_projet (Responsable: @i.mailRespProjet)</strong></a>
                                    }
                                }
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

