@*
    * website developped to manage the dairy platform STLO operations
    * Code by Anny VIVAS, inspired from the operationnal functioning of the ancien website developped by Bruno PERRET
    * July 2021
    * website includes code from:
    *  DotNetZip library for dealing with zip, bsip and zlib from .net
    *  Created by: Henrik/Dino Chiesa
    *
    *  MailKit open source library for .NET mail-client
    *  Created by:  Jeffrey Stedfast
    *
    *  Microsoft.AspNetCore.Identity.EntityFrameworkCore, ASP.NET Core Identity provider that uses Entity Framework Core
    *  Created by: Microsoft
    *
    *  Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation, Runtime compilation support for Razor views and Razor pages in ASP.NET Core MVC
    *  Created by: Microsoft
    *
    *  Microsoft.EntityFrameworkCore.Design, Shared design-time components for Entity Framework Core tools
    *  Created by: Microsoft
    *
    *  Microsoft.EntityFrameworkCore.SqlServer, Microsoft SQL Server database provider for Entity Framework Core
    *  Created by: Microsoft
    *
    *  Ncrontab, NCrontab is crontab for all .NET runtimes supported by .NET Standard 1.0. It provides parsing and formatting of crontab expressions as well as calculation of occurrences of time based on a schedule expressed in the crontab format
    *  Created by: Atif Aziz
    *
    * This projet is released under the terms of the GNU general public license GPL version 3 or later:
    * availaible here: https://www.gnu.org/licenses/gpl-3.0-standalone.html
    *
    * Copyright (c) 2021-2024 Anny Vivas
*@

@model SiteGestionResaCore.Areas.Reservation.Data.CalendrierEquipChildViewModel


<h5>Réservation "@Model.nomEquipement"</h5>

<div class="container">
    <div class="form-group row">
        <div class="col-sm-8 col-md-8">
            <div class="form-row">
                <div class="form-group col-sm-4 col-md-4">
                    <!--Date picker -->
                    @Html.Label("Date Début:  ")
                    <input class="form-control" name="DateDebut" asp-for="@Model.DateDebut" type="date" />
                    @*@Html.EditorFor(m => m.DateDebut, new { htmlAttributes = new { @class = "datepick form-control col-7", @id = "ResaDebutDP_" + Model.idEquipement, @placeholder = "MM/DD/YYYY" } })*@
                    @Html.ValidationMessageFor(m => m.DateDebut, "", new { @class = "text-danger" })
                    <!--<input type="text" class="form-control" id="datepickerdebut" placeholder="MM/DD/YYYY">-->
                </div>
                <div class="form-group col-sm-3 col-md-3">
                    <br />
                    <input type="radio" name="DatePickerDebut_Matin" asp-for="@Model.DatePickerDebut_Matin" value="true" />
                    @*@Html.RadioButtonFor(m => m.DatePickerDebut_Matin, "true")*@
                    <label class="col-md-2 control-label">Matin</label>
                    @Html.ValidationMessageFor(m => m.DatePickerDebut_Matin, "", new { @class = "text-danger" })

                </div>
                <div class="form-group col-sm-3 col-md-3">
                    <br />
                    <input type="radio" name="DatePickerDebut_Matin" asp-for="@Model.DatePickerDebut_Matin" value="false" />
                    @*@Html.RadioButtonFor(m => m.DatePickerDebut_Matin, "false")*@
                    <label class="col-md-10 control-label">Après-midi</label>
                    @Html.ValidationMessageFor(m => m.DatePickerDebut_Matin, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-sm-4 col-md-4">
                    @Html.Label("Date Fin:  ")
                    <input class="form-control" name="DateFin" asp-for="@Model.DateFin" type="date" />
                    @*@Html.EditorFor(m => m.DateFin, new { htmlAttributes = new { @class = "datepick form-control col-7", @id = "ResaFinDP_" + Model.idEquipement, @placeholder = "MM/DD/YYYY" } })*@
                    @Html.ValidationMessageFor(m => m.DateFin, "", new { @class = "text-danger" })
                    <!-- CHANGER LE m => m.NomZone et rajouter la vrai variable du viewModel<input type="text" class="form-control" id="datepickerdebut" placeholder="MM/DD/YYYY">-->
                </div>
                <div class="form-group col-sm-3 col-md-3">
                    <br />
                    <input type="radio" name="DatePickerFin_Matin" asp-for="@Model.DatePickerFin_Matin" value="true" />
                    @*@Html.RadioButtonFor(m => m.DatePickerFin_Matin, "true")*@
                    <label class="col-md-2 control-label">Matin</label>
                    @Html.ValidationMessageFor(m => m.DatePickerFin_Matin, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-sm-3 col-md-3">
                    <br />
                    <input type="radio" name="DatePickerFin_Matin" asp-for="@Model.DatePickerFin_Matin" value="false" />
                    @*@Html.RadioButtonFor(m => m.DatePickerFin_Matin, "false")*@
                    <label class="col-md-10 control-label">Après-midi</label>
                    @Html.ValidationMessageFor(m => m.DatePickerFin_Matin, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <!-- pour passer l'id equipement et l'id zone à la méthode AddReservation() -->
        @*@Html.HiddenFor(model => model.equiID)*@
        <div class="col-sm-4 col-md-4">
            <input type="submit" class="btn btn-outline-success" value="Ajouter Réservation" />
        </div>
    </div>
</div>




