@*
    * website developped to manage the dairy platform STLO operations
    * Code by Anny VIVAS, inspired from the operationnal functioning of the ancien website developped by Bruno PERRET
    * July 2021
    * website includes code from:
    *  DotNetZip library for dealing with zip, bsip and zlib from .net
    *  Created by: Henrik/Dino Chiesa
    *
    *  MailKit open source library for .NET mail-client
    *  Created by:  Jeffrey Stedfast
    *
    *  Microsoft.AspNetCore.Identity.EntityFrameworkCore, ASP.NET Core Identity provider that uses Entity Framework Core
    *  Created by: Microsoft
    *
    *  Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation, Runtime compilation support for Razor views and Razor pages in ASP.NET Core MVC
    *  Created by: Microsoft
    *
    *  Microsoft.EntityFrameworkCore.Design, Shared design-time components for Entity Framework Core tools
    *  Created by: Microsoft
    *
    *  Microsoft.EntityFrameworkCore.SqlServer, Microsoft SQL Server database provider for Entity Framework Core
    *  Created by: Microsoft
    *
    *  Ncrontab, NCrontab is crontab for all .NET runtimes supported by .NET Standard 1.0. It provides parsing and formatting of crontab expressions as well as calculation of occurrences of time based on a schedule expressed in the crontab format
    *  Created by: Atif Aziz
    *
    * This projet is released under the terms of the GNU general public license GPL version 3 or later:
    * availaible here: https://www.gnu.org/licenses/gpl-3.0-standalone.html
    *
    * Copyright (c) 2021-2024 Anny Vivas
*@
@model SiteGestionResaCore.Areas.Maintenance.Data.Maintenance.MaintenanceViewModel

@{
    ViewBag.Title = "DéclarationMaintenance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<h2>Saisir une nouvelle intervention</h2>
<h5>Remplissez les informations concernant l'opération et suivez les indications</h5>
<hr />

<div class="form-group row">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @using (Html.BeginForm("SoumettreInfosMaint", "Maintenance", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <h6><strong>INFORMATIONS INTERVENTION</strong></h6>
        <hr />
        @Html.AntiForgeryToken()
        <div class="form-row">
            <div class="form-group col-md-5 col-lg-5">
                @Html.LabelFor(m => m.SelectedIntervenantID, new { @class = "control-label" })
                <select asp-for="SelectedIntervenantID" asp-items="@Model.IntervenantItem" class="form-control">
                    <option value="-1">- Sélectionnez l'Intervenant -</option>
                </select>
                @Html.ValidationMessageFor(m => m.SelectedIntervenantID, "", new { @class = "text-danger" })
            </div>
            <div class="form-group offset-1 col-md-6 col-lg-6">
                @Html.LabelFor(m => m.SelectedInterventionId, new { @class = "control-label" })
                <select asp-for="SelectedInterventionId" asp-items="@Model.InterventionItem" class="form-control">
                    <option value="-1">- Sélectionnez le type d'intervention -</option>
                </select>
                @Html.ValidationMessageFor(m => m.SelectedInterventionId, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="form-row">
                @Html.LabelFor(m => m.CodeMaintenance, new { @class = "col-md-6 control-label" })
                <div class="row">
                    @Html.TextBoxFor(m => m.CodeMaintenance, new { @class = "col-md-8 form-control", disabled = "disabled" })
                    @Html.ValidationMessageFor(m => m.CodeMaintenance, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-row">
            @Html.LabelFor(m => m.IntervenantExterne, new { @class = "col-md-6 control-label" })
            @Html.ValidationMessageFor(m => m.IntervenantExterne, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-6">
                    @Html.RadioButtonFor(m => m.IntervenantExterne, "true")
                    <label class="col-md-5 control-label">Oui</label>
                </div>
                <div class="col-6">
                    @Html.RadioButtonFor(m => m.IntervenantExterne, "false")
                    <label class="col-md-5 control-label">Non</label>
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="form-row">
                @Html.LabelFor(m => m.NomSociete, new { @class = "col-md-6 control-label" })
                <div class="row">
                    @Html.TextBoxFor(m => m.NomSociete, new { @class = "col-md-12 form-control" })
                    @Html.ValidationMessageFor(m => m.NomSociete, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                @Html.LabelFor(m => m.DescriptionInter, new { @class = "col-md-6 control-label" })
                @Html.TextBoxFor(m => m.DescriptionInter, new { @class = "col-md-12 form-control" })
                @Html.ValidationMessageFor(m => m.DescriptionInter, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-md-2">
                <a class="btn btn-primary" asp-action="AnnulerDemandeInter" asp-controller="Maintenance" asp-area="Maintenance">Annuler</a>
            </div>
            <div class="offset-9 col-md-1">
                <input type="submit" value="Suivant" class="btn btn-default navbar-inra" />
            </div>
        </div>
    }
</div>