<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />

@model CalenViewModel

@{
    ViewData["Title"] = "CalendrierPFL";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h1 class="text-center">Calendrier PFL</h1>
<br />

<div class="offset-1 col-md-8">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-center">Code couleur calendrier PFL</h5>
            <div class="row">
                <div class="col-md-6">
                    <button style="background-color:#ffd191" disabled="True">Orange</button>
                    <label>Conflit entre 2 essais "Restreint"</label>
                </div>
                <div class="col-md-6">
                    <button style="background-color:#fdc0be" disabled="True">Rouge</button>
                    <label>Réservation essai validée</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button style="background-color:#fbeed9" disabled="True">Beige</button>
                    <label>Essai en attente de validation</label>
                </div>
                <div class="col-md-6">
                    <button style="background-color:#c2e6e2" disabled="True">Vert</button>
                    <label>Equipement Disponible</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button style="background-color:#ffffff" disabled="True">Blanc</button>
                    <label>Zone Disponible</label>
                </div>
                <div class="col-md-6">
                    <button style="background-color:#d8b1d4" disabled="True">Violet</button>
                    <label>Zone "occupée"</label>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<!--https://www.w3.org/WAI/tutorials/tables/irregular/ Pour faire une table avec ce format-->
@Html.ValidationSummary(false, "", new { @class = "text-danger" })
<div class="row">
    <h5 class="text-center">Selectionnez une date de debut et de fin pour affichage du calendrier </h5>
    <div class="container">
        <form asp-action="AfficherPlanningDuAu" asp-controller="Calendrier" asp-area="Calendrier" method="post">
            <div class="form-group row justify-content-center">
                <br />
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <!--Date picker -->
                    <div class="form-group">
                        @Html.Label("Du : ")
                        <input class="form-control" name="DateDu" asp-for="@Model.DateDu" type="date" />
                        @Html.ValidationMessageFor(m => m.DateDu, "", new { @class = "text-danger" })
                        <!--<input type="text" class="form-control" id="datepickerdebut" placeholder="MM/DD/YYYY">-->
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <!--Date picker -->
                    <div class="form-group">
                        @Html.Label("Au : ")
                        <input class="form-control" name="DateAu" asp-for="@Model.DateAu" type="date" />
                        @Html.ValidationMessageFor(m => m.DateAu, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <input type="submit" class="btn btn-outline-success" value="Afficher Planning" />
                </div>
            </div>
        </form>
    </div>
</div>
<hr />
<br />
<div class="row">
    <table class="table table-bordered table-responsive table-sm">
        <thead>
            <colgroup span="2"></colgroup>
            <colgroup span="2"></colgroup>
            <tr class="text-center">
                <td rowspan="2">Zones</td>
                @for (int z = 0; z < Model.JoursCalendrier.Count(); z++)
                {
                    <th colspan="2" scope="colgroup">@Model.JoursCalendrier[z].NomJour - @Model.JoursCalendrier[z].JourPourAffichage.ToShortDateString()</th>
                }
            </tr>
            <tr>
                @for (int z = 0; z < Model.JoursCalendrier.Count(); z++)
                {
                    <th scope="col">Matin</th>
                    <th scope="col">Aprèm</th>
                }
            </tr>
        </thead>

        <!-- Normalement 17 zones -->
        @for (int j = 0; j < Model.ListResasZone.Count(); j++)
        {
            <tr>
                <th scope="row">
                    @Model.ListResasZone[j].NomZone
                    <span class="fas fa-caret-down" onclick="showEquipements(@Model.ListResasZone[j].IdZone.ToString())"></span>
                </th>
                @for (int i = 0; i < Model.ListResasZone[j].ListeDispoZonesDuAu.Count(); i++)
                {
                    @if (Model.ListResasZone[j].ListeDispoZonesDuAu[i].IsZoneOccupeMatin == true)
                    {
                        <td style="background-color:#d8b1d4">
                            <strong>Occupée</strong>
                        </td>
                    }
                    else
                    {
                        <td>
                            <strong>Disponible</strong>
                        </td>
                    }
                    @if (Model.ListResasZone[j].ListeDispoZonesDuAu[i].IsZoneOccupeAprem == true)
                    {
                        <td style="background-color:#d8b1d4">
                            <strong>Occupée</strong>
                        </td>
                    }
                    else
                    {
                        <td>
                            <strong>Disponible</strong>
                        </td>
                    }
                }
            </tr>
            @for (int y = 0; y < Model.ListResasZone[j].ListEquipementVsResa.Count(); y++)
            {
                <tr class="hide" style="display:none" name="@Model.ListResasZone[j].IdZone.ToString()" id="@y">
                    <th style="color:gray">@Model.ListResasZone[j].ListEquipementVsResa[y].NomEquipement</th>
                    @for (int x = 0; x < Model.ListResasZone[j].ListEquipementVsResa[y].ListResasDuAu.Count(); x++)
                    {
                        <td style="background-color:@Model.ListResasZone[j].ListEquipementVsResa[y].ListResasDuAu[x].CouleurMatin">
                            @if (@Model.ListResasZone[j].ListEquipementVsResa[y].ListResasDuAu[x].ListResasMatin.Count() == 0)
                            {
                                <a><strong>Libre Matin</strong></a>
                            }
                            else
                            {
                                @for (int z = 0; z < Model.ListResasZone[j].ListEquipementVsResa[y].ListResasDuAu[x].ListResasMatin.Count(); z++)
                                {
                                    if (Model.ListResasZone[j].ListEquipementVsResa[y].ListResasDuAu[x].ListResasMatin[z].Confidentialite == "Confidentiel")
                                    {
                                        <a asp-action="VoirInfosEssai" asp-controller="Calendrier" asp-area="Calendrier"
                                           asp-route-id="@Model.ListResasZone[j].ListEquipementVsResa[y].ListResasDuAu[x].ListResasMatin[z].IdEssai">
                                            <strong>Confidentiel</strong> @Model.ListResasZone[j].ListEquipementVsResa[y].ListResasDuAu[x].ListResasMatin[z].IdEssai
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-action="VoirInfosEssai" asp-controller="Calendrier" asp-area="Calendrier"
                                           asp-route-id="@Model.ListResasZone[j].ListEquipementVsResa[y].ListResasDuAu[x].ListResasMatin[z].IdEssai">
                                            Reservé @Model.ListResasZone[j].ListEquipementVsResa[y].ListResasDuAu[x].ListResasMatin[z].IdEssai
                                        </a>
                                    }
                                }
                            }
                        </td>

                        <td style="background-color:@Model.ListResasZone[j].ListEquipementVsResa[y].ListResasDuAu[x].CouleurAprem">
                            @if (@Model.ListResasZone[j].ListEquipementVsResa[y].ListResasDuAu[x].ListResasAprem.Count() == 0)
                            {
                                <a><strong>Libre Aprem</strong></a>
                            }
                            else
                            {
                                @for (int u = 0; u < Model.ListResasZone[j].ListEquipementVsResa[y].ListResasDuAu[x].ListResasAprem.Count(); u++)
                                {
                                    if (Model.ListResasZone[j].ListEquipementVsResa[y].ListResasDuAu[x].ListResasAprem[u].Confidentialite == "Confidentiel")
                                    {
                                        <a asp-action="VoirInfosEssai" asp-controller="Calendrier" asp-area="Calendrier"
                                           asp-route-id="@Model.ListResasZone[j].ListEquipementVsResa[y].ListResasDuAu[x].ListResasAprem[u].IdEssai">
                                            <strong>Confidentiel</strong> @Model.ListResasZone[j].ListEquipementVsResa[y].ListResasDuAu[x].ListResasAprem[u].IdEssai
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-action="VoirInfosEssai" asp-controller="Calendrier" asp-area="Calendrier"
                                           asp-route-id="@Model.ListResasZone[j].ListEquipementVsResa[y].ListResasDuAu[x].ListResasAprem[u].IdEssai">
                                            Reservé @Model.ListResasZone[j].ListEquipementVsResa[y].ListResasDuAu[x].ListResasAprem[u].IdEssai
                                        </a>
                                    }

                                }
                            }
                        </td>
                    }
                </tr>
            }
        }
    </table>
</div>

<!--CODE SNIPPET:
<table>
    <col>
    <colgroup span="2"></colgroup>
    <colgroup span="2"></colgroup>
    <tr>
        <td rowspan="2"></td>
        <th colspan="2" scope="colgroup">Mars</th>
        <th colspan="2" scope="colgroup">Venus</th>
    </tr>
    <tr>
        <th scope="col">Produced</th>
        <th scope="col">Sold</th>
        <th scope="col">Produced</th>
        <th scope="col">Sold</th>
    </tr>
    <tr>
        <th scope="row">Teddy Bears</th>
        <td>50,000</td>
        <td>30,000</td>
        <td>100,000</td>
        <td>80,000</td>
    </tr>
    <tr>
        <th scope="row">Board Games</th>
        <td>10,000</td>
        <td>5,000</td>
        <td>12,000</td>
        <td>9,000</td>
    </tr>
</table>-->
<!-- Modal pour affichage des infos "Reservation"-->
@*<div class="modal fade" id="InfoResaJour" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
        <div class="modal-dialog modal-xl navbar-inra">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Infos Réservation "@Model.InfosPopUpEquipement.Confidentialite" </strong></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalcontent">
                    <!--TODO: je pourrais insérer uniquement la vue partielle _InfoEquipemReserves.cshtml-->
                    <table class="table table-sm table-borderless">
                        <thead>
                        </thead>
                        <tbody>
                            @if (Model.InfosPopUpEquipement.Confidentialite != "Confidentiel")
                            {
                                <tr>
                                    <th scope="row">Titre projet </th>
                                    <td>@Model.InfosPopUpEquipement.TitreProjet</td>
                                </tr>
                                <tr>
                                    <th scope="row">Numéro projet</th>
                                    <td>@Model.InfosPopUpEquipement.NumeroProjet</td>
                                </tr>
                                <tr>
                                    <th scope="row">Id Essai</th>
                                    <td>@Model.InfosPopUpEquipement.IdEssai</td>
                                </tr>
                                <tr>
                                    <th scope="row">Mail Auteur réservation</th>
                                    <td>@Model.InfosPopUpEquipement.MailAuteurResa</td>
                                </tr>
                                <tr>
                                    <th scope="row">Mail Responsable projet</th>
                                    <td>@Model.InfosPopUpEquipement.MailResponsablePj</td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <th scope="row">Id Essai</th>
                                    <td>@Model.InfosPopUpEquipement.IdEssai</td>
                                </tr>
                                <tr>
                                    <th scope="row">Mail Auteur réservation</th>
                                    <td>@Model.InfosPopUpEquipement.MailAuteurResa</td>
                                </tr>
                                <tr>
                                    <th scope="row">Mail Responsable projet</th>
                                    <td>@Model.InfosPopUpEquipement.MailResponsablePj</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" id="submit" class="btn btn-secondary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div> *@

<partial name="~/Areas/Calendrier/Views/Calendrier/_InfosResaCalendrier.cshtml" for="@Model.InfosPopUpEquipement"></partial>





@section Scripts
{
    <!-- JS includes -->
    <script type="text/javascript">
        function showEquipements(parameter) {
            var divName = document.getElementsByName(parameter);
            var i;
            for (i = 0; i < divName.length; i++) {
                var ele = divName[i];
                if (ele.style.display == "") {
                    ele.style.display = "none";
                } else {
                    ele.style.display = "";
                }
            }
        }
        @{
            if (ViewBag.InfosResa == null)
            {
                ViewBag.InfosResa = "hide";
            }
        }
        $('#InfoResaJour').modal('@ViewBag.InfosResa');

        // Lien pour l'ajax et recharge d'une vue partielle (j'ai pas su l'implémenter)
        // https://stackoverflow.com/questions/51114427/cant-update-partial-view-with-ajax-asp-net-core-mvc
    </script>
}