@model EvenementsViewModel
@{
    ViewData["Title"] = "Evenements PFL";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="col-sm-12 col-md-12 text-center">
    @*<div class="fixed_head_resas">*@
        <table class="table justify-content-center table-sm">
            <h5 class="text-center">Liste des événements en cours</h5>
            <br />
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Date création</th>
                    <th scope="col">Contenu message</th>
                    <th scope="col">Supprimer?</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var en in Model.ListEvenements)
                {
                    <tr>
                        <td>@en.date_creation</td>
                        <td>@en.message</td>
                        <td>
                            <a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Supprimer" asp-action="SupprimerMessage" asp-area="Evenements" asp-controller="Events" asp-route-id="@en.id">
                                <span class="fas fa-trash"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    @*</div>*@
</div>
<br />
<hr />
<br />
<h5 class="text-center">Ajout des messages pour affichage dans la page d'accueil</h5>
<br />
<div class="col-sm-8 col-md-8 text-center offset-2">
    <div class="form-group text-center">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <form asp-action="AjoutMessage" asp-controller="Events" asp-area="Evenements" method="post">
            @Html.AntiForgeryToken()
            @Html.LabelFor(m => m.MessageXAjout, new { @class = "col-md-6 control-label" })
            @Html.TextBoxFor(m => m.MessageXAjout, new { @class = "col-md-12 form-control" })
            @Html.ValidationMessageFor(m => m.MessageXAjout, "", new { @class = "text-danger" })        
            <br />
            <div class="form-group row">
                @*<div class="col-md-2">
                <a class="btn btn-primary" asp-action="AnnulerDemande" asp-controller="Reservation" asp-area="Reservation">Annuler</a>
            </div>*@
                <div class="col-md-1 offset-5">
                    <input type="submit" value="Suivant" class="btn btn-default navbar-inra" />
                </div>
            </div>
        </form>
    </div>
</div>

