@model SiteGestionResaCore.Areas.User.Data.ResasUser.ResEssaiChildViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    <h6>INFORMATIONS ESSAI</h6>
    <h6 style="color:red" class="text-center">Vouz pouvez modifier des infos sur cet essai, cliquez sur sauvegarder pour enregistrer les changements. Attention: une fois cliqué le bouton, les changements seront pris en compte!</h6>
    <hr />
    <div class="form-row">
        @Html.LabelFor(m => m.ConfidentialiteEss, new { @class = "col-md-4 control-label" })
        @Html.ValidationMessageFor(m => m.ConfidentialiteEss, "", new { @class = "text-danger" })
        <div class="form-row">
                <div class="col-4">
                    <label asp-for="@Model.ConfidentialiteEss" class="col-md-3 radio-inline">
                        <input asp-for="@Model.ConfidentialiteEss" name="ConfidentialiteEss" value="Ouvert" type="radio">Ouvert
                    </label>
                </div>
                <div class="col-4">
                    <label asp-for="@Model.ConfidentialiteEss" class="col-md-4 radio-inline">
                        <input asp-for="@Model.ConfidentialiteEss" name="ConfidentialiteEss" value="Restreint" type="radio">Restreint
                    </label>
                </div>
                <div class="col-4">
                    <label asp-for="@Model.ConfidentialiteEss" class="col-md-5 radio-inline">
                        <input asp-for="@Model.ConfidentialiteEss" name="ConfidentialiteEss" value="Confidentiel" type="radio">Confidentiel
                    </label>
                    @*@Html.RadioButtonFor(m => m.ConfidentialiteEssai, "Confidentiel") changement car avec radiobutton on reçoit pas de valeur *@
                </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            @Html.LabelFor(m => m.SelecManipulateurID, new { @class = "col-md-12 col-lg-9 control-label" })
            <select asp-for="SelecManipulateurID" asp-items="@Model.ManiProjItem" class="form-control">
                <option value="-1">- Manipulateur essai -</option>
            </select>
            @Html.ValidationMessageFor(m => m.SelecManipulateurID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-5">
            @Html.LabelFor(m => m.SelectProductId, new { @class = "col-md-7 control-label" })
            <select asp-for="SelectProductId" asp-items="@Model.ProdItem" class="form-control">
                <option value="-1">- Produit d'entrée -</option>
            </select>
            @Html.ValidationMessageFor(m => m.SelectProductId, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-7">
            @Html.LabelFor(m => m.PrecisionProdIn, new { @class = "col-md-4 control-label" })
            <input name="PrecisionProdIn" asp-for="@Model.PrecisionProdIn" type="text" />
            @Html.ValidationMessageFor(m => m.PrecisionProdIn, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            @Html.LabelFor(m => m.QuantProduit, new { @class = "col-md-6 control-label" })
            <input name="QuantProduit" asp-for="@Model.QuantProduit" type="text" />
            @Html.ValidationMessageFor(m => m.QuantProduit, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-7">
            @Html.LabelFor(m => m.SelectProvProduitId, new { @class = "col-md-4 col-lg-7 control-label" })
            <select asp-for="SelectProvProduitId" asp-items="@Model.ProvProduitItem" class="form-control">
                <option value="-1">- Provenance produit entrée -</option>
            </select>
            @Html.ValidationMessageFor(m => m.SelectProvProduitId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            @Html.LabelFor(m => m.SelectDestProduit, new { @class = "col-md-4 col-lg-7 control-label" })
            <select asp-for="SelectDestProduit" asp-items="@Model.DestProdItem" class="form-control">
                <option value="-1">- Destinaison produit sortie -</option>
            </select>
            @Html.ValidationMessageFor(m => m.SelectDestProduit, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CommentEssai, new { @class = "col-md-6 control-label" })
        <input name="CommentEssai" asp-for="@Model.CommentEssai" type="text" class="col-md-10" />
        @Html.ValidationMessageFor(m => m.CommentEssai, "", new { @class = "text-danger" })
    </div>

    <div class="form-row">
        @Html.LabelFor(m => m.TranspSTLO, new { @class = "col-md-6 control-label" })
        @Html.ValidationMessageFor(m => m.TranspSTLO, "", new { @class = "text-danger" })
        <div class="form-row">
            <div class="col-8">
                <label asp-for="@Model.TranspSTLO" class="col-md-8 radio-inline">
                    <input asp-for="@Model.TranspSTLO" name="TranspSTLO" value="true" type="radio">STLO (800L max)
                </label>
            </div>
            <div class="col-4">
                <label asp-for="@Model.TranspSTLO" class="col-md-6 radio-inline">
                    <input asp-for="@Model.TranspSTLO" name="TranspSTLO" value="false" type="radio">Autre
                </label>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-2">
            @Html.ActionLink("Abandoner", "MesReservations", null, new { @class = "btn btn-primary" })
        </div>
        <div class="offset-9 col-md-1">
            <input type="submit" value="Enregistrer" class="btn btn-default navbar-inra" />
        </div>
    </div>


