@model SiteGestionResaCore.Areas.Metrologie.Data.Rapport.RappXDownloadVM

@{
    ViewBag.Title = "Liste Rapports Métrologie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row">
    <div class="col-sm-12 col-md-12 text-center">
        <h5 class="text-center">Liste des rapports disponibles pour téléchargement</h5>
        <div class="fixed_head_resas">
            <div class="row justify-content-center">
                <table class="table table-striped justify-content-center table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nom du capteur</th>
                            <th scope="col">Associé à l'équipement</th>
                            <th scope="col">N° GMAO équipement</th>
                            <th scope="col">Nom fichier rapport</th>
                            <th scope="col">Date vérification</th>
                            <th scope="col">Type de rapport</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model.ListCapteursXrapports)
                        {
                            <tr>
                                <td>@x.nomCapteur</td>
                                <td>@x.nomEquipement</td>
                                <td>@x.numGmao</td>
                                <td>@x.nom_document</td>
                                <td>@x.dateVerif.ToString()</td>
                                <td>@x.TypeRapport</td>
                                <td>
                                    <a class="btn navbar-inra" asp-action="TelechargementRapport" asp-area="Metrologie" asp-controller="Rapport" asp-route-id="@x.idRapport">Telecharger</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row offset-5">
    <a asp-action="AccueilMetrologie" asp-controller="DocMetro" asp-area="Metrologie">Revenir à la page précedente</a>
</div>
