@model MyReservationsViewModel
@{
    ViewData["Title"] = "MesReservations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h1>Mes Reservations</h1>
<br />

@if (ViewBag.AfficherMessage == true)
{
    <p class="text-center" style="color:green"><strong> @ViewBag.Message</strong> </p>
}

<div class="row">
    <div class="col-sm-12 col-md-12 text-center">
        <div class="row justify-content-center">
            <table class="table table-striped justify-content-center">
                <h5 class="text-center">Pour modifier cliquez sur le lien</h5>
                <thead class="thead-light">
                    <tr>
                        <th scope="col">N° Essai</th>
                        <th scope="col">Informations essai</th>
                        <th scope="col">Titre projet</th>
                        <th scope="col">N° projet</th>
                        <th scope="col">Equipements réservés</th>
                        <th scope="col">Date création</th>
                        <th scope="col">Status essai</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model.ResasUser)
                    {
                        <tr>
                            <td>@x.IdEssai</td>
                            <td><a asp-action="OuvrirEssaiXModif" asp-controller="ResasUser" asp-area="User" asp-route-id="@x.IdEssai">Infos essai</a></td>
                            <td>@x.TitreProj</td>
                            <td>@x.NumProjet</td>
                            <td><a asp-action="" asp-controller="ResasUser" asp-area="User" asp-route-id="@x.IdEssai">Equipements réservés</a></td>
                            <td>@x.DateCreation</td>
                            <td>@x.StatusEssai</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>

<div class="form-group row">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <!--Ajout d'une vue partielle pour la modification des infos essai, ouverte après clic sur le lien "Infos essai" et fermeture lors du clic fermer-->
    <div class="col-md-12">
        @for (int x = 0; x < Model.ResasUser.Count(); x++)
        {
            <div id="@Model.ResasUser[x].IdEssai.ToString()" class="hide" style="display:@Model.ResasUser[x].OpenPartial">
                <hr />

                @if (Model.IsEssaiModifiable == true)
                {
                    <form asp-action="EnregistrerInfosEssai" asp-controller="ResasUser" asp-area="User" asp-route-id="@Model.ResasUser[x].IdEssai" method="post">
                        @*<partial name="~/Areas/User/Views/Shared/_ModifEssai.cshtml" for="@Model.ChildVmModifEssai"></partial>*@
                        <h6>INFORMATIONS ESSAI</h6>
                        <h6 style="color:red" class="text-center">Vouz pouvez modifier des infos sur cet essai, cliquez sur sauvegarder pour enregistrer les changements. Attention: une fois cliqué le bouton, les changements seront pris en compte!</h6>
                        <hr />
                        <div class="form-row">
                            @Html.LabelFor(m => m.ConfidentialiteEss, new { @class = "col-md-4 control-label" })
                            @Html.ValidationMessageFor(m => m.ConfidentialiteEss, "", new { @class = "text-danger" })
                            <div class="form-row">
                                <div class="col-4">
                                    <label class="col-md-3 radio-inline">@Model.ConfidentialiteEss</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                @Html.LabelFor(m => m.SelecManipulateurID, new { @class = "col-md-12 col-lg-9 control-label" })
                                <select asp-for="SelecManipulateurID" asp-items="@Model.ManiProjItem" class="form-control">
                                    <option value="-1">- Manipulateur essai -</option>
                                </select>
                                @Html.ValidationMessageFor(m => m.SelecManipulateurID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-5">
                                @Html.LabelFor(m => m.SelectProductId, new { @class = "col-md-7 control-label" })
                                <select asp-for="SelectProductId" asp-items="@Model.ProdItem" class="form-control">
                                    <option value="-1">- Produit d'entrée -</option>
                                </select>
                                @Html.ValidationMessageFor(m => m.SelectProductId, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-7">
                                @Html.LabelFor(m => m.PrecisionProdIn, new { @class = "col-md-4 control-label" })
                                <input name="PrecisionProdIn" asp-for="@Model.PrecisionProdIn" type="text" />
                                @Html.ValidationMessageFor(m => m.PrecisionProdIn, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                @Html.LabelFor(m => m.QuantProduit, new { @class = "col-md-6 control-label" })
                                <input name="QuantProduit" asp-for="@Model.QuantProduit" type="text" />
                                @Html.ValidationMessageFor(m => m.QuantProduit, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-7">
                                @Html.LabelFor(m => m.SelectProvProduitId, new { @class = "col-md-4 col-lg-7 control-label" })
                                <select asp-for="SelectProvProduitId" asp-items="@Model.ProvProduitItem" class="form-control">
                                    <option value="-1">- Provenance produit entrée -</option>
                                </select>
                                @Html.ValidationMessageFor(m => m.SelectProvProduitId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                @Html.LabelFor(m => m.SelectDestProduit, new { @class = "col-md-4 col-lg-7 control-label" })
                                <select asp-for="SelectDestProduit" asp-items="@Model.DestProdItem" class="form-control">
                                    <option value="-1">- Destinaison produit sortie -</option>
                                </select>
                                @Html.ValidationMessageFor(m => m.SelectDestProduit, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.CommentEssai, new { @class = "col-md-6 control-label" })
                            <input name="CommentEssai" asp-for="@Model.CommentEssai" type="text" class="col-md-10" />
                            @Html.ValidationMessageFor(m => m.CommentEssai, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-row">
                            @Html.LabelFor(m => m.TranspSTLO, new { @class = "col-md-6 control-label" })
                            @Html.ValidationMessageFor(m => m.TranspSTLO, "", new { @class = "text-danger" })
                            <div class="form-row">
                                <div class="col-8">
                                    <label asp-for="@Model.TranspSTLO" class="col-md-8 radio-inline">
                                        <input asp-for="@Model.TranspSTLO" name="TranspSTLO" value="true" type="radio">STLO (800L max)
                                    </label>
                                </div>
                                <div class="col-4">
                                    <label asp-for="@Model.TranspSTLO" class="col-md-6 radio-inline">
                                        <input asp-for="@Model.TranspSTLO" name="TranspSTLO" value="false" type="radio">Autre
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-2">
                                @Html.ActionLink("Abandoner", "MesReservations", null, new { @class = "btn btn-primary" })
                            </div>
                            <div class="offset-9 col-md-1">
                                <input type="submit" value="Enregistrer" class="btn btn-default navbar-inra" />
                            </div>
                        </div>
                    </form>
                    <hr />
                }
                else
                {
                    <partial name="~/Areas/User/Views/Shared/_DisplayInfosEssai.cshtml" for="@Model.ConsultInfosEssai"></partial>
                    <hr />
                }
            </div>
        }
    </div>
</div>

<h6 class="text-right"> Note: vous ne pouvez pas modifier les essais déjà passés ou les essais commençant aujourd'hui</h6>
