@*
    * website developped to manage the dairy platform STLO operations
    * Code by Anny VIVAS, inspired from the operationnal functioning of the ancien website developped by Bruno PERRET
    * July 2021
    * website includes code from:
    *  DotNetZip library for dealing with zip, bsip and zlib from .net
    *  Created by: Henrik/Dino Chiesa
    *
    *  MailKit open source library for .NET mail-client
    *  Created by:  Jeffrey Stedfast
    *
    *  Microsoft.AspNetCore.Identity.EntityFrameworkCore, ASP.NET Core Identity provider that uses Entity Framework Core
    *  Created by: Microsoft
    *
    *  Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation, Runtime compilation support for Razor views and Razor pages in ASP.NET Core MVC
    *  Created by: Microsoft
    *
    *  Microsoft.EntityFrameworkCore.Design, Shared design-time components for Entity Framework Core tools
    *  Created by: Microsoft
    *
    *  Microsoft.EntityFrameworkCore.SqlServer, Microsoft SQL Server database provider for Entity Framework Core
    *  Created by: Microsoft
    *
    *  Ncrontab, NCrontab is crontab for all .NET runtimes supported by .NET Standard 1.0. It provides parsing and formatting of crontab expressions as well as calculation of occurrences of time based on a schedule expressed in the crontab format
    *  Created by: Atif Aziz
    *
    * This projet is released under the terms of the GNU general public license GPL version 3 or later:
    * availaible here: https://www.gnu.org/licenses/gpl-3.0-standalone.html
    *
    * Copyright (c) 2021-2024 Anny Vivas
*@


@model MyReservationsViewModel
@{
    ViewData["Title"] = "MesReservations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h1>Mes Reservations</h1>
<br />

@if (ViewBag.AfficherMessage == true)
{
    <p class="text-center" style="color:green"><strong> @ViewBag.Message</strong> </p>
}

<div class="row">
    <div class="col-sm-12 col-md-12 text-center">
        <h5 class="text-center">Pour modifier cliquez sur le lien</h5>
        <div class="fixed_head_resas">
            <div class="row justify-content-center">
                <table class="table table-striped justify-content-center table-sm">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Informations essai</th>
                            <th scope="col">Titre projet</th>
                            <th scope="col">N° projet</th>
                            <th scope="col">Equipements réservés</th>
                            <th scope="col">Date création</th>
                            <th scope="col">Status essai</th>
                            <th scope="col">Supprimer</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model.ResasUser)
                        {
                            <tr>
                                <td><a asp-action="OuvrirEssaiXModif" asp-controller="ResasUser" asp-area="User" asp-route-id="@x.IdEssai">@x.TitreEssai</a></td>
                                <td>@x.TitreProj</td>
                                <td>@x.NumProjet</td>
                                <td><a asp-action="RecapEquipements" asp-controller="ResasUser" asp-area="User" asp-route-id="@x.IdEssai">Equipements réservés</a></td>
                                <td>@x.DateCreation</td>
                                <td>@x.StatusEssai</td>
                                <td>
                                    @if (@x.IsCanceledAutorised)
                                    {
                                        <a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Supprimer" asp-action="AnnulerEssai" asp-area="User" asp-controller="ResasUser" asp-route-id="@x.IdEssai">
                                            <span class="fas fa-trash"></span>
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--Ouvrir la fênetre pour affichage et modification des infos "essai"-->
<div class="form-group row">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <!--Ajout d'une vue partielle pour la modification des infos essai, ouverte après clic sur le lien "Infos essai" et fermeture lors du clic fermer-->
    <div class="col-md-12">
        @for (int x = 0; x < Model.ResasUser.Count(); x++)
        {
            <div id="@Model.ResasUser[x].IdEssai.ToString()" class="hide" style="display:@Model.ResasUser[x].OpenPartialEssai">
                <hr />
                @if (Model.IsEssaiModifiable == true)
                {
                    <form asp-action="EnregistrerInfosEssai" asp-controller="ResasUser" asp-area="User" asp-route-id="@Model.ResasUser[x].IdEssai" method="post">
                        <h6>INFORMATIONS ESSAI</h6>
                        <h6 style="color:red" class="text-center">Vouz pouvez modifier des infos sur cet essai, cliquez sur sauvegarder pour enregistrer les changements. Attention: une fois cliqué le bouton, les changements seront pris en compte!</h6>
                        <hr />
                        <div class="form-group">
                            @Html.LabelFor(m => m.TitreEssai, new { @class = "col-md-6 control-label" })
                            <input name="TitreEssai" asp-for="@Model.TitreEssai" type="text" class="col-md-10" />
                            @Html.ValidationMessageFor(m => m.TitreEssai, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-row">
                            @Html.LabelFor(m => m.ConfidentialiteEss, new { @class = "col-md-4 control-label" })
                            @Html.ValidationMessageFor(m => m.ConfidentialiteEss, "", new { @class = "text-danger" })
                            <div class="form-row">
                                <div class="col-4">
                                    <label class="col-md-3 radio-inline">@Model.ConfidentialiteEss</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                @Html.LabelFor(m => m.SelecManipulateurID, new { @class = "col-md-12 col-lg-9 control-label" })
                                <select asp-for="SelecManipulateurID" asp-items="@Model.ManiProjItem" class="form-control">
                                    <option value="-1">- Manipulateur essai -</option>
                                </select>
                                @Html.ValidationMessageFor(m => m.SelecManipulateurID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-5">
                                @Html.LabelFor(m => m.SelectProductId, new { @class = "col-md-7 control-label" })
                                <select asp-for="SelectProductId" asp-items="@Model.ProdItem" class="form-control">
                                    <option value="-1">- Produit d'entrée -</option>
                                </select>
                                @Html.ValidationMessageFor(m => m.SelectProductId, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-7">
                                @Html.LabelFor(m => m.PrecisionProdIn, new { @class = "col-md-4 control-label" })
                                <input name="PrecisionProdIn" asp-for="@Model.PrecisionProdIn" type="text" />
                                @Html.ValidationMessageFor(m => m.PrecisionProdIn, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                @Html.LabelFor(m => m.QuantProduit, new { @class = "col-md-6 control-label" })
                                <input name="QuantProduit" asp-for="@Model.QuantProduit" type="text" />
                                @Html.ValidationMessageFor(m => m.QuantProduit, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-7">
                                @Html.LabelFor(m => m.SelectProvProduitId, new { @class = "col-md-4 col-lg-7 control-label" })
                                <select asp-for="SelectProvProduitId" asp-items="@Model.ProvProduitItem" class="form-control">
                                    <option value="-1">- Provenance produit entrée -</option>
                                </select>
                                @Html.ValidationMessageFor(m => m.SelectProvProduitId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                @Html.LabelFor(m => m.SelectDestProduit, new { @class = "col-md-4 col-lg-7 control-label" })
                                <select asp-for="SelectDestProduit" asp-items="@Model.DestProdItem" class="form-control">
                                    <option value="-1">- Destinaison produit sortie -</option>
                                </select>
                                @Html.ValidationMessageFor(m => m.SelectDestProduit, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-row">
                            @Html.LabelFor(m => m.TranspSTLO, new { @class = "col-md-6 control-label" })
                            @Html.ValidationMessageFor(m => m.TranspSTLO, "", new { @class = "text-danger" })
                            <div class="form-row">
                                <div class="col-8">
                                    <label asp-for="@Model.TranspSTLO" class="col-md-8 radio-inline">
                                        <input asp-for="@Model.TranspSTLO" name="TranspSTLO" value="true" type="radio">STLO (800L max)
                                    </label>
                                </div>
                                <div class="col-4">
                                    <label asp-for="@Model.TranspSTLO" class="col-md-6 radio-inline">
                                        <input asp-for="@Model.TranspSTLO" name="TranspSTLO" value="false" type="radio">Autre
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-2">
                                @Html.ActionLink("Abandoner", "MesReservations", null, new { @class = "btn btn-primary" })
                            </div>
                            <div class="offset-9 col-md-1">
                                <input type="submit" value="Enregistrer" class="btn btn-default navbar-inra" />
                            </div>
                        </div>
                    </form>
                    <hr />
                }
                else
                {

                }
            </div>
        }
    </div>
</div>

<!-- Modal pour affichage des infos "essai"-->
<div class="modal fade" id="EssaiModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
    <div class="modal-dialog modal-lg navbar-inra" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Informations essai N° @Model.ConsultInfosEssai.id</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalcontent">
                <table class="table table-sm table-borderless">
                    <thead>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Titre essai</th>
                            <td>@Model.ConsultInfosEssai.TitreEssai</td>
                        </tr>
                        <tr>
                            <th scope="row">ID Essai</th>
                            <td>@Model.ConsultInfosEssai.id</td>
                        </tr>
                        <tr>
                            <th scope="row">Date Création</th>
                            <td>@Model.ConsultInfosEssai.DateCreation</td>
                        </tr>
                        <tr>
                            <th scope="row">Email manipulateur essai</th>
                            <td>@Model.ConsultInfosEssai.MailManipulateur</td>
                        </tr>
                        <tr>
                            <th scope="row">Type de produit entrant</th>
                            <td>@Model.ConsultInfosEssai.TypeProduitEntrant</td>
                        </tr>
                        <tr>
                            <th scope="row">Demande saisie par</th>
                            <td>@Model.ConsultInfosEssai.MailUser</td>
                        </tr>
                        <tr>
                            <th scope="row">Confidentialité essai</th>
                            <td>@Model.ConsultInfosEssai.Confidentialite</td>
                        </tr>
                        <tr>
                            <th scope="row">Transport assuré par</th>
                            @if (Model.ConsultInfosEssai.TransportStlo == true)
                            {
                                <td>STLO</td>
                            }
                            else
                            {
                                <td>Autre</td>
                            }
                        </tr>
                        <tr>
                            <th scope="row">Précision produit</th>
                            <td>@Model.ConsultInfosEssai.PrecisionProd</td>
                        </tr>
                        <tr>
                            <th scope="row">Quantité produit</th>
                            <td>@Model.ConsultInfosEssai.QuantiteProd</td>
                        </tr>
                        <tr>
                            <th scope="row">Provenance produit</th>
                            <td>@Model.ConsultInfosEssai.ProveProd</td>
                        </tr>
                        <tr>
                            <th scope="row">Destination produit</th>
                            <td>@Model.ConsultInfosEssai.DestProd</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" id="submit" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<div class="form-group row">
    <div class="col-md-12">
        @for (int x = 0; x < Model.ResasUser.Count(); x++)
        {
            <div id="@Model.ResasUser[x].IdEssai.ToString()" class="hide" style="display:@Model.ResasUser[x].OpenReservations">
                <form asp-action="ModifierEquipResa" asp-controller="ResasUser" asp-area="User" asp-route-id="@Model.ResasUser[x].IdEssai" method="post">
                    <br />
                    <h5 class="text-center">Equipements réservés pour l'essai N° @Model.ResasUser[x].IdEssai </h5>
                    <br />
                    <partial name="_InfoEquipemReserves" for="@Model.EquipementsReserves"></partial>
                    <br />
                    @if (Model.IsEssaiModifiable == true)
                    {
                        <div class="col-sm-3 col-md-3 col-lg-3 offset-4">
                            <input type="submit" class="btn btn-outline-success" value="Modifier equipements réservés" />
                        </div>
                    }
                    else
                    {
                        <p class="text-center" style="color:red"><strong>Oups! Vous ne pouvez pas modifier cet essai car le delai de modification est dépassé ou car le status essai ne le permet pas</strong></p>
                    }
                </form>
            </div>
        }
    </div>
</div>

<!-- Modal pour affichage de la confirmation "Refuser"-->
<form asp-action="AnnulerEssai" asp-controller="ResasUser" asp-area="User" asp-route-id="@Model.IdEss" method="post">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <!-- Modal pop-up d'info-->
    <div class="modal fade" id="AnnulerEss" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
        @Html.AntiForgeryToken()
        <div class="modal-dialog navbar-inra">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="staticBackdropLabel">Annulation Essai</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalcontent">
                    <p class="font-weight-bold text-center">
                        Etês-vous sûr de vouloir annuler votre essai N° @Model.IdEss
                        "@Model.TitreEssai"?
                    </p>
                    <p>Indiquez le(s) raison(s) de l'annulation: </p>
                    <div class="form-group">
                        @Html.TextAreaFor(m => m.RaisonAnnulation, new { @class = "col-md-12 form-control" })
                        @Html.ValidationMessageFor(m => m.RaisonAnnulation, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <input type="submit" class="btn btn-primary" value="Valider" />
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @*script pour afficher le popoup de confirmation de demande *@
    <script>
        @{
            if (ViewBag.ModalState == null)
            {
                ViewBag.ModalState = "hide";
            }
            if (ViewBag.modalAnnul == null)
            {
                ViewBag.modalAnnul = "hide";
            }
        }
        $('#EssaiModal').modal('@ViewBag.ModalState');
        $('#AnnulerEss').modal('@ViewBag.modalAnnul');
    </script>
}