@*
    * website developped to manage the dairy platform STLO operations
    * Code by Anny VIVAS, inspired from the operationnal functioning of the ancien website developped by Bruno PERRET
    * July 2021
    * website includes code from:
    *  DotNetZip library for dealing with zip, bsip and zlib from .net
    *  Created by: Henrik/Dino Chiesa
    *
    *  MailKit open source library for .NET mail-client
    *  Created by:  Jeffrey Stedfast
    *
    *  Microsoft.AspNetCore.Identity.EntityFrameworkCore, ASP.NET Core Identity provider that uses Entity Framework Core
    *  Created by: Microsoft
    *
    *  Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation, Runtime compilation support for Razor views and Razor pages in ASP.NET Core MVC
    *  Created by: Microsoft
    *
    *  Microsoft.EntityFrameworkCore.Design, Shared design-time components for Entity Framework Core tools
    *  Created by: Microsoft
    *
    *  Microsoft.EntityFrameworkCore.SqlServer, Microsoft SQL Server database provider for Entity Framework Core
    *  Created by: Microsoft
    *
    *  Ncrontab, NCrontab is crontab for all .NET runtimes supported by .NET Standard 1.0. It provides parsing and formatting of crontab expressions as well as calculation of occurrences of time based on a schedule expressed in the crontab format
    *  Created by: Atif Aziz
    *
    * This projet is released under the terms of the GNU general public license GPL version 3 or later:
    * availaible here: https://www.gnu.org/licenses/gpl-3.0-standalone.html
    *
    * Copyright (c) 2021-2024 Anny Vivas
*@


@using SiteGestionResaCore.Models
@model LoginViewModel
@{
    ViewBag.Title = "Connexion";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @*@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {*@
            <form class="form-horizontal" role="form" asp-action="Login" asp-controller="Account" method="post">
                @Html.AntiForgeryToken()
                <h4>Saissisez vos identifiants</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Connexion" class="btn btn-default navbar-inra" />
                    </div>
                </div>
                @*Enable this once you have account confirmation enabled for password reset functionality*@
                <p>
                    @Html.ActionLink("Mot de passe oublié?", "ForgotPassword")
                </p>
                @Html.Hidden("ReturnUrl", (object)ViewBag.ReturnUrl)
            </form>

            @*}*@
        </section>
    </div>
    <div class="col-md-4">
        <form class="px-4 py-5">
            <div class="form-group text-center">
                <label class="text-center">Nouveau sur le site? Inscris-toi!</label>
                <!--<label>Nouveau sur le site? Inscris-toi!</label>-->
            </div>
            <div class="form-group text-center">
                @Html.ActionLink("Créer mon compte", "Register", null, new { @class = "btn btn-default navbar-inra" })
            </div>
        </form>
    </div>
    @*<div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@
</div>
