@model SiteGestionResaCore.Models.ConsultInfosEssaiChildVM
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!-- Modal pour affichage des infos "essai"-->
<div class="modal fade" id="EssaiModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
    <div class="modal-dialog modal-lg navbar-inra">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Informations essai N° @Model.id</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalcontent">
                <table class="table table-sm table-borderless">
                    <thead>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Titre essai</th>
                            <td>@Model.TitreEssai</td>
                        </tr>
                        <tr>
                            <th scope="row">Confidentialité</th>
                            <td>@Model.Confidentialite</td>
                        </tr>
                        <tr>
                            <th scope="row">N° Essai</th>
                            <td>@Model.id</td>
                        </tr>
                        <tr>
                            <th scope="row">Date Création</th>
                            <td>@Model.DateCreation</td>
                        </tr>
                        <tr>
                            <th scope="row">Email manipulateur essai</th>
                            <td>@Model.MailManipulateur</td>
                        </tr>
                        <tr>
                            <th scope="row">Type de produit entrant</th>
                            <td>@Model.TypeProduitEntrant</td>
                        </tr>
                        <tr>
                            <th scope="row">Demande saisie par</th>
                            <td>@Model.MailUser</td>
                        </tr>
                        <tr>
                            <th scope="row">Transport assuré par</th>
                            @if (Model.TransportStlo == true)
                            {
                                <td>STLO</td>
                            }
                            else
                            {
                                <td>Autre</td>
                            }
                        </tr>
                        <tr>
                            <th scope="row">Précision produit</th>
                            <td>@Model.PrecisionProd</td>
                        </tr>
                        <tr>
                            <th scope="row">Quantité produit</th>
                            <td>@Model.QuantiteProd</td>
                        </tr>
                        <tr>
                            <th scope="row">Provenance produit</th>
                            <td>@Model.ProveProd</td>
                        </tr>
                        <tr>
                            <th scope="row">Destination produit</th>
                            <td>@Model.DestProd</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" id="submit" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>